

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %><div class="btn btn-primary login-button"><i class="fab fa-spotify"></i> LOGIN WITH SPOTIFY</div><% end %>
  <% end %>
<% end %>
