<div class="container">
  <p><%= @user.uid %></p>
  <% @updated_playlists.each_with_index do |playlist, index| %>
    <p><%=index + 1%>) <%= link_to playlist_path(playlist) do %><%=playlist.name%><% end %></p>
  <% end %>
</div>
