<div class="form-holder">
  <div class="main-form">
    <H5><i class="fas fa-random"></i></H5>
    <H5>WELCOME</H5>
    <small>I designed SpotRandom because I was fed up of hearing the same songs over and over on long playlists.</small>
    <br><br>
    <small>So I created something that's a) truly random and b) never plays the same song twice on the same playlist untils it either completes the list or you reset it. Regardless of how many times you stop and start the playlist.</small>
    <br><br>
    <div><%= render "devise/shared/links" %></div>
  </div>
</div>
