<div class="form-holder">
  <div class="main-form">
    <H5><i class="fas fa-random"></i></H5>
    <H5>WELCOME</H5>
    <small>I designed SpotRandom because I was fed up of hearing the same songs over and over on long playlists.</small>
    <br><br>
    <small>So I created something that helps me build truly random queues from my playlists.</small>
    <br><br>
    <div><%= render "devise/shared/links" %></div>
  </div>
</div>
